<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <!-- Bootstrap Style -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Default Style -->
        <link rel="stylesheet" href="http://media.bumbol.com/web/default.css">
        <!-- Blue Imp CSS -->
        <link rel="stylesheet" href="http://media.bumbol.com/blue-imp/css/blueimp-gallery.css">
        <link rel="stylesheet" href="http://media.bumbol.com/blue-imp/css/blueimp-gallery-indicator.css">
        <link rel="stylesheet" href="http://media.bumbol.com/blue-imp/css/blueimp-gallery-video.css">
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- BootStrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% if display_page == 'project_gallery' %}
        <!-- Blue Imp Gallery -->
        <script src="http://media.bumbol.com/blue-imp/js/jquery.blueimp-gallery.js"></script>
        {% endif %}
        
        {% block head %}
        {% endblock %}
        
    </head>
    <body>
        <!-- Header -->
        <div class="container">
            <div class="header clearfix">
                <h3 class="text-muted">
                    {% if company.logo_key %}
                    <img src="{{ bucket }}{{ company.logo_key }}" class="logo" />
                    {% endif %}
                </h3>
                {% block nav %}
                {% endblock %}
                
            </div>

            <!-- Content -->
            {% block content %}
            {% endblock %}
            
            <!-- Footer -->
            <footer class="footer">
                <p>&copy; {{ company.name }} &nbsp; 2016</p>
                <p>Website powered by <a href="http://bumbol.com">Bumbol.com</a></p>
            </footer>

        </div> <!-- /container -->
    </body>
    <!-- {% now "jS F Y H:i" %} --> 
</html>